@font-face {
  font-family: futuralightc;
  font-display: swap;
  src: url("../fonts/futuralightc.woff2") format("woff2"), url("../fonts/futuralightc.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: futura_pt_medium;
  font-display: swap;
  src: url("../fonts/futura_pt_medium.woff2") format("woff2"), url("../fonts/futura_pt_medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}